<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/autorepuesto.png" alt="img autorepuesto">
        <h3 class="mb-2">Cambiar Contraseña</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="nuevo password">
            <label>nueva</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirm_password" autocomplete="false" class="form-control" placeholder="confirmar password">
            <label>Confirmar Contrasena</label>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg" (click)="newPassword()">Aceptar</button>
        </div>
    </div>
  </div>