.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  padding: 20px;
  /* background-color: #f8f9fa; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.logo {
  width: 100%;
  margin-bottom: 20px;
}

.form-floating {
  margin-bottom: 15px; /* Espacio entre los campos de entrada */
}

.form-floating input {
  width: 100%;
}

.d-grid {
  width: 100%;
}

@media (min-width: 768px) {
  .body {
    max-width: 600px; /* Ajusta el ancho máximo para pantallas más grandes */
  }
}
