<div class="header-container">
    <h2 class="text">Inventario</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Almacen</th>
        <th scope="col">fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inv of listInventario; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ inv.nombre_producto }}</td>
        <td>{{ inv.cantidad }}</td>
        <td>{{ inv.nombre_almacen }}</td>
        <td>{{ inv.fecha }}</td>
        <button *ngIf="eliminar" (click)="deleteInventario(inv.numero!,inv.nombre_producto)" class="btn-submit">Eliminar</button>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button *ngIf="insertar" routerLink="/home/newInventario" class="btn-new-inventario">Nuevo Inventario</button>
    <button routerLink="/home/almacen" class="btn-new-inventario">Volver</button>
  </div>
  