body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* margin: 0;
  padding: 0; */
}

.container {
  max-width: 600px;
  /* margin: 10px auto; */
  /* background: white; */
  margin-top: 6vh;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

@media (max-width: 600px) {
  /* .container {
    padding: 10px;
  }

  table, th, td {
    display: block;
  }

  th, td {
    padding: 8px;
    text-align: right;
  }

  th {
    background-color: transparent;
    border: none;
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  } */
}
